<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recomendador</title>
        <meta charset="utf-8">
    </head>
    <body>
        <%- contentFor('body') %>

        <section class="container">
            <div class="jumbotron text-center" style="background: #DD9868;">
                <h1 style="font-size: 54px;">Sobre nosotros</h1>
            </div>
        </section>

        <div class="row" stlye="background: #73C9DE;">
            <div class="col-sm-4"> <br><img src="https://scontent.ftij2-1.fna.fbcdn.net/v/t1.6435-9/133759546_2001074773386126_981049913241883442_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEoFhgNWC4Tl2aEzbIBPoMp4fGod_81OzTh8ah3_zU7NB-HnDonccLbxI5raKfR0IWuEROnpxSMfo5GcD8CBA0-&_nc_ohc=52nvN3jz3VYAX-GnulD&_nc_ht=scontent.ftij2-1.fna&oh=3e68d0609d8d2215b0f1a7ef9b2b59d9&oe=60CF035A" 
                class="img-fluid"></div>
            <div class="col-sm-8">
                <br><h4>Arturo Ceron Uribe</h4><br>
                <h4>arturo.ceron17@tectijuana.edu.mx</h4><br>
                <h4>17211506</h4>
            </div>
            <div class="col-sm-4"> <br><img src="https://scontent.ftij2-1.fna.fbcdn.net/v/t1.6435-9/176012634_5371743576232992_3246258363395318431_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEvFFxItfsBUM3--i1YQNVIKh1ioum2MbcqHWKi6bYxtys1nNI8kMT4rxeGHD2yVrtvYcS9csBzncNsASTHh4VI&_nc_ohc=iZRX2FzpM1MAX8klt5I&_nc_ht=scontent.ftij2-1.fna&oh=b52a44829722f80a803800f94d607509&oe=60D46EBC" 
                class="img-fluid"></div>
            <div class="col-sm-8">
                <br><h4>José Miguel Aguilar López</h4><br>
                <h4>jose.aguilar17@tectijuana.edu.mx</h4><br>
                <h4>17212102</h4>
            </div>
            <div class="col-sm-4"> <br><img src="https://scontent.ftij2-1.fna.fbcdn.net/v/t1.18169-9/942791_523260307721852_1530220360_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGU1InuPli7rq_BlwykdJuFY2eY4wrrr3ljZ5jjCuuveZP9UtTdyguF4ZCLRVliuSj2P7Da_P4yxDdoamgg0vnE&_nc_ohc=eagcg0RC5t0AX_IiJJV&tn=GkxN3EI4pmQUweZm&_nc_ht=scontent.ftij2-1.fna&oh=afce93b8a65b1aad5cadc53bf7c4dffa&oe=60D7000B" 
                class="img-fluid"></div>
            <div class="col-sm-8">
                <br><h4>Luis Diego Flores González</h4><br>
                <h4>luis.flores16@tectijuana.edu.mx</h4><br>
                <h4>C16211486</h4>
            </div>
        </div>

        <div class="jumbotron text-center" style="background: #DD9868;">
            <a href="/contact" class="btn btn-lg btn-primary" style="font-size: 32px;"> Escribenos un mensaje </a>
        </div>
    </body>
</html>
